<h1>Menu la trucha</h1>
<div class="row">
	<div class="col-lg-2">
		<div class="row">
			<div class="col-lg-12">
				Mesa
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Agregar mesa', new_table_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Quitar mesa', tables_path%>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="row">
			<div class="col-lg-12">
				Platillo
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Agregar platillo', new_dish_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Editar platillo', dishes_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Eliminar platillo', dishes_path%>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="row">
			<div class="col-lg-12">
				Orden
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Agregar orden', new_order_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Editar orden', orders_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Eliminar orden', orders_path%>
			</div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="row">
			<div class="col-lg-12">
				Categoria
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Agregar categoria', new_category_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Editar categoria', categories_path%>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<%= link_to 'Eliminar categoria', categories_path%>
			</div>
		</div>
	</div>
</div>